@import "../../global.css";

.preview-container{
    width: 160px;
    padding: 8px;

    display: flex;
    flex-direction: column;

    gap: 5px;

    align-items: center;

    border-left: 1.5px solid var(--primary);

    position: none;
    user-select: none;
}

h1{
    font-size: 10px;
    line-height: 1;
}

h1.title-secondary{
    color: var(--secondary);
}

p{
    font-size: 6px;
}
.btn-container{
    display: flex;

    gap: 2px;
}

button{
    border: none;
    padding: 4px;

    border-radius: 4px;
    display: flex;

    cursor: pointer;
}

button:disabled{
    cursor: not-allowed;
    opacity: .6;
}

div.preview{
    font-size: 4px;
    padding: 4px;

    border-radius: 2px;
    font-weight: 600;

    pointer-events: none;
}

div.btn-success{
    background-color: var(--success);
    color: white;
}

div.btn-warning{
    background-color: var(--warning);
    color: white;
}

div.btn-danger{
    background-color: var(--danger);
    color: white;
}

.card-container{
    display: flex;
    justify-content: space-between;

    min-width: 270px;
    border: solid 1px var(--primary);
    padding: 0.75rem;

    gap: 1rem;

    border-radius: 8px;

    box-shadow:  7px 7px 14px #bebebe,
                    -7px -7px 14px #ffffff;
}

.aside-card{
    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: space-between;
}

.btn-warning{
    border: none;
    padding: 4px;

    border-radius: 4px;
    display: flex;

    cursor: pointer;
    
    background-color: var(--warning);
}

.btn-danger{
    background-color: var(--danger);
}

.aside-btn-container{
    display: flex;
    gap: 0.25rem;
}

.card-title {
    font-weight: 500;
    /* color: var(--primary); */
}

.input-container input {
    display: none;
  }
  
  .input-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .input-checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #2196F300;
    border-radius: 0.25em;
    /* transition: all 0.25s; */
  }
  
  .input-container input:checked ~ .input-checkmark {
    background-color: var(--success);
  }
  
  .input-checkmark:after {
    content: "";
    position: absolute;
    /* transform: rotate(0deg); */
    border: 0.1em solid black;
    left: 0;
    top: 0;
    width: 1.05em;
    height: 1.05em;
    border-radius: 0.25em;
    /* transition: all 0.25s, border-width 0.1s; */
  }
  
  .input-container input:checked ~ .input-checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
  }
  
